<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%=title%></title>
    </head>

    <body>
        <h1><%=title%></h1>
        <p>Preencha os dados abaixo para salvar o cliente.</p>

        <form action="<%=action %>" method="POST">

            <p><label>Nome: <input type="text" name="nome" value="<%= docs.nome%>"></label></p>
            <p><label>Idade: <input type="number" name="idade", value="<%= docs.idade%>"></label></p>
            <p><label>UF: 
                <select name="uf">
                    <% const s = "select"%>
                    <option <% if(docs.uf=='AC'){%><%=s%><%}%>>AC</option>
                    <option <% if(docs.uf=='AL'){%><%=s%><%}%>>AL</option>
                    <option <% if(docs.uf=='AM'){%><%=s%><%}%>>AM</option>
                    <option <% if(docs.uf=='AP'){%><%=s%><%}%>>AP</option>
                    <option <% if(docs.uf=='BA'){%><%=s%><%}%>>BA</option>
                    <option <% if(docs.uf=='CE'){%><%=s%><%}%>>CE</option>
                    <option <% if(docs.uf=='DF'){%><%=s%><%}%>>DF</option>
                    <option>ES</option>
                    <option>GO</option>
                    <option>MA</option>
                    <option>MG</option>
                    <option>MT</option>
                    <option>MS</option>
                    <option>PA</option>
                    <option>PB</option>
                    <option>PE</option>
                    <option>PI</option>
                    <option>PR</option>
                    <option>RJ</option>
                    <option>RN</option>
                    <option>RO</option>
                    <option>RR</option>
                    <option>RS</option>
                    <option>SC</option>
                    <option>SE</option>
                    <option>SP</option>
                    <option>TO</option>
                </select>
            </label></p>
        <p><a href="/">Cancelar</a> | <input type="submit" value="Salvar"></p>
        </form>
    </body>
</html>